[user]
	name = crzorz
	email = crzorz@outlook.com
[init]
	defaultBranch = master
[color]
	ui = auto
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	compression = -1
[pull]
	rebase = true
[http]
	postBuffer = 2048M
	maxRequestBuffer = 1024M
	version = HTTP/1.1
[https]
	postBuffer = 2048M
	maxRequestBuffer = 1024M
[ssh]
	postBuffer = 2048M
	maxRequestBuffer = 1024M
[pack]
	windowMemory = 256M
	packSizeLimit = 256M
[credential]
	helper = store
